<!DOCTYPE html>
<html lang="en">
<header> {% include "partials/header.html" %} </header> 

<body data-spy="scroll" data-target="#navbar" data-offset="50">
<h1 style="margin-top:50px; " align="center">Abilities</h1>
<center>
<div style="margin-top:75px; font-size:18px;" class="Box">
	<h4>Skills</h4>
		<table>
		<tr>
		<td>Java
		<td><img src="https://image.ibb.co/kzm9CK/Capture.png" alt="Capture" border="0">
		
		<td>Excel
		<td><img src="https://image.ibb.co/kzm9CK/Capture.png" alt="Capture" border="0">
		<tr>
		<td>Python
		<td><img src="https://image.ibb.co/kzm9CK/Capture.png" alt="Capture" border="0">
		
		<td>Inovative
		<td><img src="https://image.ibb.co/kzm9CK/Capture.png" alt="Capture" border="0">
		<tr>
		<td>HTML
		<td><img src="https://image.ibb.co/kzm9CK/Capture.png" alt="Capture" border="0">
		
		<td>Speaking
		<td><img src="https://image.ibb.co/kzm9CK/Capture.png" alt="Capture" border="0">
		</table>
	<br>
	<h4>Languages</h4>
	<table>
		<tr>
		<td>Indonesia
		<td><img src="https://image.ibb.co/kzm9CK/Capture.png" alt="Capture" border="0">
		<td>
		<td>English
		<td><img src="https://image.ibb.co/kzm9CK/Capture.png" alt="Capture" border="0">
		<tr>
	</table	>
	</div>
<center>

</body>
<br>
<br>
<br>
<br>
<br>
<br>

</html>
