<!DOCTYPE html>
<html lang="en">
<header> {% include "partials/header.html" %} </header> 

<body data-spy="scroll" data-target="#navbar" data-offset="50">
<center>
<h1 style="margin-top:50px">Contact Me<h1>
<div style="margin-top:100px" class= "pict">
<a href="https://www.facebook.com/ali.haddad.733#_"><img src="https://image.ibb.co/fgduU9/fb_icon.jpg" width=250px style="border-radius:500px;" ></a>
<a href="https://plus.google.com/u/0/110075030997922728541?tab=wX"><img src="https://image.ibb.co/egdZxU/google_plus.png" style="border-radius:500px;" width=250px ></a>
<a href="https://www.linkedin.com/in/ali-yusuf-419556159/"><img src="https://image.ibb.co/gDvPU9/if_Linked_In_3138898.png" style="border-radius:500px;" width=250px></a>
</div>
<br>
<a href="{% url 'Home:form' %}" class="Box" style="padding:10px; text-decoration:none; color:black"><strong>Feedback</strong></a>
<br>
</body>

</html>
	