<!DOCTYPE html>
<html lang="en">
<header> {% include "partials/header.html" %} </header> 

<body data-spy="scroll" data-target="#navbar" data-offset="50">
<h1 align="center"  style="margin-top:50px;"> Experiences</h1>
<center>
<br>
<br>
<a class="ToggleActive"><strong>Education</strong></a>
<a class="ToggleDeactive" href="{% url 'Home:experience2' %}" >Careers</a>

<ul class="Box" >
  <li><strong>University of Indonesia</strong><br>2017-Present</li>
  <li><strong>SMAN 61 Jakarta</strong><br>2014-2017</li>
  <li><strong>SMPN 27 Jakarta</strong><br>2011-2014</li>
  <li><strong>SDN 04 Jakarta</strong><br>2005-2011</li>
</ul>
</center>
</body>
<br>
<br>
<br>
<br>
<br>
<br>

</html>
