<!DOCTYPE html>
<html lang="en">
<header> {% include "partials/header.html" %} </header> 

<body data-spy="scroll" data-target="#navbar" data-offset="50">
<h1 align="center" style="margin-top:50px"> Experiences</h1>
<center>
<br>
<br>
<a  class="ToggleDeactive"  href="{% url 'Home:experience' %}" >Education</a>
<a  class="ToggleActive"><strong>Careers</strong></a>

<ul class="Box">
  <li><strong>Staff of Supervisor DPM Fasilkom</strong><br>2018-Present</li>
  <li><strong>VPJ Equipment Open House Fasilkom</strong><br>2018-Present</li>
  <li><strong>Mentor OKK UI</strong><br>2018-2018</li>
 <li><strong>MIUI Beta Tester</strong><br>2016-2016</li>
</ul>
</center>

</body>
<br>
<br>
<br>
<br>
<br>
<br>

</html>
