<!DOCTYPE html>
<html lang="en">
<header> {% include "partials/header.html" %} </header> 

<body data-spy="scroll" data-target="#navbar" data-offset="50">
<center>
<form class="Box" style="font-size:15px; margin-top:80px">
  <strong>Feedback</strong><br><br>
  Name:<br>
  <input class="form" type="text" name="name" placeholder="Your name" required>
  <br>
  Birth day:<br>
  <input class="form" type="date" name="bday" required><br>
  Email:<br>
  <input class="form" type="email" name="email" placeholder="youremail@mail.com" required>
  <br>
  Subject:<br>
  <input class="form" type="text" name="name" placeholder="Your subject" required>
  <br>
  Message:<br>
  <textarea class="form" rows="4" cols="20" placeholder="Your message...."> </textarea>
  <br><br>
  <input class="form" style="width:100px" type="submit">
</form> 
</body>

</html>
