<!DOCTYPE html>
<html lang="en">
<header> {% include "partials/header.html" %} </header> 
<body data-spy="scroll" data-target="#navbar" data-offset="50">
<center>
<a href="#section1"><img  src="https://preview.ibb.co/gw0P0K/IMG_20180630_152039_2.jpg" alt="IMG_20180630_152039" align="middle"  width="250" height="250" style="border-radius:180px; margin-top:100px"></a>
<h1 style="margin-top:20px;font-size:40px">Hello..<br>My name is Ali..</h1>
	
	<div id="section1" align="center" style="margin-top:150px; font-size:40px; margin-bottom:60px"> 
          <h1 style="font-size:40px">About Me</h1>	
        </div>
	<a><img src="https://preview.ibb.co/gw0P0K/IMG_20180630_152039_2.jpg" alt="IMG_20180630_152039" align="middle"  width="250" height="250" style="border-radius:180px;"></td></a>
	
	<div id="paragraph" style="margin-top:30px">
	<a style="font-size:18px"> 
		My name is Ali Yusuf, i was born on 20th October
	1999 and grown up in DKI Jakarta. I was studying 
	at University of Indonesia, majoring in Informatics
	Systems at the Faculty of Computer Science. In my 
	family, i am the only person who has different 
	education path.  I am an innovative person, who has 
	full of ideas and  hard worker. I really love everything
	about technology, because its endless and always evolve.
	My goal in the future is making people around me more 
	know about technology and using it with positive ways</a></div>
    
</center >
</body>

</html>
