<!DOCTYPE html>
<html lang="en">
<header> {% include "partials/header.html" %} </header> 
<body data-spy="scroll" data-target="#navbar" data-offset="50">
<center>
<h1 style="margin-top:50px"> My Activity</h1>
	<div style="margin-top:40px">
        <table align="center" style="text-align: center;  padding:100px">
            <tr  id='table'>
                <th id='table'>Activities</th>
                <th id='table'>Type of Activities</th>
				<th id='table'>Place</th>
				<th id='table'>Date</th>
            </tr>

            	{% for diary_data in message %}
                <tr  id='table'>
					<td id='table' class="activity">{{ diary_data.activity }}</td>
					<td id='table' class="type_act">{{ diary_data.type_act }}</td>
                    <td id='table' class="place">{{ diary_data.place }}</td>
					<td id='table' class="date">{{ diary_data.date }}</td>
                    
                </tr>
            {% endfor %}
        </table>
    </div>
<a href="{% url 'Home:schedule' %}"><button  class="btn btn-default" style="margin-top:30px">New Activities</button> </a>
<a href="{% url 'Home:delete' %}"><button  class="btn btn-default" style="margin-top:30px">Delete All</button> </a>
<br><br><br><br>
</body>

</html>
