<!DOCTYPE html>
<html lang="en">
<header> {% include "partials/header.html" %} </header> 
<body data-spy="scroll" data-target="#navbar" data-offset="50">
<center>
<h1 style="margin-top:50px"> My Activity</h1>
<form class="Box" style="width:300px; margin-top:3px" method="POST" action='add_activity' > 
{% csrf_token %} 
{{ form }} 
<br> <br>
<button type="submit" class="btn btn-default">Submit</button> 
</form>
<br> 
<a href="{% url 'Home:listAct' %}"><button  class="btn btn-default">See My Activities</button> </a>
</body>

</html>
