<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ali Yusuf</title>
	<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/static/css/Style.css">
</head>

<nav class="navbar navbar-expand-lg sticky-top navbar-light"  id="navbar" >
	<a class="navbar-brand" href="{% url 'Home:home' %}">
	<img src="https://image.flaticon.com/icons/svg/25/25694.svg" width="30" height="30" alt="">
	</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0 navbar-right">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Home:home' %}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Home:experience' %}">Experiences</a>
      </li>
	  <li class="nav-item" >
        <a class="nav-link" href="{% url 'Home:abilities' %}">Abilities</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="{% url 'Home:contact' %}">Contact</a>
      </li>
	   <li class="nav-item">
        <a class="nav-link" href="{% url 'Home:listAct' %}">Activities</a>
      </li>
    </ul>
  </div>
</nav>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>