#navbar{
	background-color: #FFD185; 
	border-radius: 25px;
	font-size:20px;
	
}
#paragraph{
	background-color:#FFD185;
	opacity: 0.65;
    filter: alpha(opacity=65); 
	border-radius: 15px;
    padding: 10px; 
    width: auto;
	margin-left:100px;
	margin-right:100px;
	margin-bottom:100px;
	
}
.ToggleDeactive{
	margin-top:500px;
	background-color:#FFD18F;
	opacity: 0.65;
    filter: alpha(opacity=65); 
	border-radius: 5px;
    padding: 12px;
	text-decoration:none; 
	color: black;
	position:center;
}
.ToggleActive{
	margin-top:500px;
	background-color:#FFD18F;
	opacity: 1;
	border-radius: 5px;
    filter: alpha(opacity=65); 
    padding: 12px;
	text-decoration:none; 
	color: black;
	position:center;
}
.Box{
	opacity: 0.9;
	background-color:#FFD18F;
	border-radius: 10px;
    padding: 40px;
	width:400px;
	position:center;
	font-size:18px;
	border-style: double;
	border-color: white;
	
}


body{
	background-image: url(https://www.wilko.com/assets/bWFzdGVyfGltYWdlc3wxMDgzMjh8aW1hZ2UvanBlZ3xpbWFnZXMvaDhhL2g2ZC84ODI0MDI3OTM4ODQ2LmpwZ3xiOGRlMjNiMzYxMTgxMDNjZjM1Y2E5YzZjYjA1ZWQ5MGExNGFmYTMwODhmMTgzODMyYTRlNDAwMzM3YjA1OTdj/0436941-1.jpg);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	font-family: 'Alegreya Sans', sans-serif;
}


.form{
	width:200px;
	border-radius:10px;
}
#id_activity{
	width:200px;
	border-radius:10px;
}
#id_place{
	width:200px;
	border-radius:10px;
}
#id_type_act{
	width:200px;
	border-radius:10px;
}
#id_date{
	width:200px;
	border-radius:10px;
}
#table {
	border:2px solid
	opacity: 0.9;
	background-color:#FFD18F;
	font-size:20px;
	position:center;
	border-style: double;
	border-color: white;
}
